# Miscellaneous ------------------------------------------------------------#

*.bak
*.bat
*.ods
.svn/
Libs/
Media/FrameGlow.blp
Media/Glow.blp
CHANGELOG.bbcode

# Windows garbage ----------------------------------------------------------#

Desktop.ini
ehthumbs.db
Thumbs.db